/* .landing-page{
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-evenly;
  height: 90vh;
  width: 100%;
} */
.landing-page{
  display: flex;

}

.landing-page h1 {
  font-size: 4.5rem;
  color: #0f0f0f;
  font-family: "ubuntu",sans-serif;
}
.landing-page h2, h3 {
  color: #141313;
  margin-top: 1rem;
}

.landingImage {
  border-radius: 20px;
}

ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

li {
    text-shadow: 4px 4px px #000000;
    color: #0e0101;
    margin-bottom: 10px; /* Add spacing between list items */
}
.content-section {
    background: #ffffff;
    padding: 10px 30px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

.home-font {
    font-family: 'Verdana', 'Geneva', sans-serif;
    /* font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-family: 'Roboto', 'Arial', sans-serif;
    font-family: 'Georgia', 'Times New Roman', serif;
    font-family: 'Cambria', 'Georgia', serif; */

}

.home-section {
    background: linear-gradient(to right, #07cfe9, #065964);
    padding: 10px 30px;
    border-radius: 3px;
    margin-bottom: 10px
}

.home-img {
    height: 85px;
    width: 85px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.navbar {
  width: 100%;
}

.landing-page img {
  width: 100%;
  height: 100%;
}

.nav-link {
    color: white
}
.nav-link:hover {
    color: rgba(255, 255, 255, 0.74)
}
.navbar-dark {
    background: linear-gradient(to right, #07cfe9, #065964);
}
.offcanvas {
    background: #098a9b
}

@media screen and (max-width:430px) {
  .landing-page {
    flex-direction: column;
  }
  .landing-page h1 {
    font-size: 2.6rem;
    margin-top: -1rem;
  }
  .landing-page h2, h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .sideImage {
    display: none;
  } 

}

@media screen and (max-width:912px) {
  .landing-page {
    flex-direction: column;
  }
 
  .landing-page h1 {
    font-size: 2.6rem;
  }
  .landing-page h2, h3 {
    font-size: 1rem;
    margin-top: 1rem;
  }
  /* #login_box {
    width: 130%;
    margin-left: -6rem;
  } */

}