
.landing-page{
  background-color: transparent; /* Add a background color for contrast */
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 60%;
  justify-content: center;
  height: 90vh;
}
.landing-page h1 {
  font-size: 4.5rem;
  color: #fff;
  font-family: "ubuntu",sans-serif;
}
.landing-page h2, h3 {
  color: #fff;
  line-height: 2;
  margin-top: 1rem;
}

ul {
    list-style-type: none; /* Remove default list styling */
    padding: 0;
}

li {
    text-shadow: 4px 4px px #000000;
    color: #ffffff;
    margin-bottom: 10px; /* Add spacing between list items */
}
section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
.content-section {
    background: #ffffff;
    padding: 10px 30px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 10px;
}

.account-img {
    height: 120px;
    width: 120px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.nav-link {
    color: rgba(0, 0, 0, 0.596);
}
  
