{% extends "base.html" %}

{% block content %}
    <div class="row row-cols-1 w-20 row-cols-md-2 g-4 mt-4">
        {% for request in requests %}
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/' + request.teacher.image_profile) }}" class="card-img-top" alt="User Profile Picture"  style="max-width: 90%;">
                    <div class="card-body">
                        <a class="card-title" href="#">{{ request.teacher.username }}</a>
                        <p class="card-text">{{ request.teacher.username }} is from {{ request.county }}.</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">{{ request.request_made_on }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
