{% extends "base.html" %}

{% block content %}
    <div class="grid" style="row-gap: 3;">
        <div class="g-col-12">
            <div class="container-md p-0 landing-page">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="home-font text-info mb-3">TEACHER TREK</h1>
                        <p class="motto">
                            Unlock a world of teaching opportunities with Teacher Trek – where every educator discovers 
                            their ideal teaching environment! Our mission is simple: empower teachers to find their perfect match 
                            effortlessly. Say goodbye to untaught children and schools struggling with teacher transfers. Teacher Trek, 
                            because every teacher deserves comfort and every child deserves a dedicated mentor!
                        </p>
                        <div class="d-flex justify-content-around align-items-center">
                            <a href="{{ url_for('register') }}" class="btn custom-btn shadow btn-lg btn-primary px-5">Register</a>
                            <a href="{{ url_for('login') }}" class="btn custom-btn shadow btn-lg btn-primary px-5">Login</a>        
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="static/images/landing-page3.jpg" class="landingImage" alt="teacher">
                    </div>
                
                </div>
            </div>
        </div>
        <div class="border-buttom container-md p-4">
            <h2>Why Choose Us?</h2>
        </div>
        <div class="g-col-12 mt-4 mb-3">
            <div class="container-md p-0 landing-page">
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="home-font text-info mb-3">🌟 Tailored Matches</h2>
                        <div class="paragraphs">
                            Experience the ease of finding your perfect teaching match with our seamless platform. 
                            Say goodbye to the complexities of teacher transfers and hello to a straightforward process that aligns 
                            you with the ideal teaching environment. We've simplified the journey, ensuring that discovering the right 
                            match for your transfer is as easy as it gets. Embrace a teaching experience tailored to your preferences and 
                            make your move hassle-free. With us, finding your next teaching adventure is a breeze. 🌐✨
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="static/images/matching.jpg" class="landingImage" alt="teacher">
                    </div>
                </div>
            </div>
        </div>
        <div class="g-col-12 mt-4">
            <div class="container-md p-0 landing-page">
                <div class="row">
                    <div class="col-md-6">
                        <img src="static/images/cop.jpg" class="landingImage" alt="security">
                    </div>
                    <div class="col-md-6">
                        <h2 class="home-font text-info">🔐 Your Security Matters</h2>
                        <div class="paragraphs">
                            At Teacher Trek, we prioritize your data security. Our platform employs 
                            cutting-edge encryption to safeguard your information, ensuring a secure teaching journey. 
                            Trust us to keep your data private and your experience protected. Your security is our commitment. 🌐🔒
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
