{% extends "base.html" %}

{% block content %}
    <div class="d-flex align-items-center mt-5 justify-content-center" style="height: 80vh;">
        <div class="container-md">
            <div class="d-flex justify-content-around shadow" id="login_box">
                <div class="sideImage">
                    <img src="static/images/Happy teacher.jpg" alt="Login picture" width="100%" height="100%">
                </div>
                <div class="col-md-6">
                    <form method="POST" action="" class="p-5 rounded border-info">
                        {{  form.hidden_tag() }}
                        <h2 class="mb-4 text-info">Login</h2>
                        <div class="mb-4">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <div class="mb-2">
                            {{ form.submit(class="btn btn-info text-light btn-block") }}
                        </div>
                        <div class="mt-4">
                            {{ form.remember(class="check-box") }}
                            {{ form.remember.label(class="check-box-label") }}
                        </div>
                        <div>
                            <small class="text-muted mt-3">
                                <a href="#">Forgot Password?</a> 
                            </small>
                        </div>
                        <div class="border-top mt-4">
                            <small class="text-muted">
                                Need an Account? <h5><a class="text-info" href="{{ url_for('register') }}">Sign up</a></h5>
                            </small>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}