{% extends "base.html" %}

{% block content %}
    <div class="d-flex align-items-center justify-content-center" style="height: 90vh;">
        <div class="container-md">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form method="POST" action="" class="p-5 rounded border">
                        {{  form.hidden_tag() }}
                        <h3 class="mb-2">Register</h3>
                        <!--username field-->
                        <div class="mb-2">
                            {{ form.username.label(class="form-control-label") }}
                            {% if form.username.errors %}
                                {{ form.username(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <!--email field-->
                        <div class="mb-2">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <!--Password field-->
                        <div class="mb-2">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <!--confirm password field-->
                        <div class="mb-3">
                            {{ form.confirm_password.label(class="form-control-label") }}
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(class="form-control form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(class="form-control form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-primary btn-block") }}
                        </div>
                    </form>
                    <div class="border-top mt-4">
                        <small class="text-muted">
                            Already have an Account? <a class="ml-3" href="{{ url_for('login') }}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}