{% extends "base.html" %}

{% block content %}

    <div class="container-md rounded mt-2 w-60">
        <div class="row">
            <div class="col-md-6 p-0">
                <form method="POST" action="" class="p-4 g-2 row">
                    {{  form.hidden_tag() }}
                    <h2 class="mb-2 text-info">Register</h2>
                    <!--username field-->
                    <div class="mb-2">
                        {{ form.username.label(class="form-control-label") }}
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control") }}
                        {% endif %}
                    </div>
                    <!--email field-->
                    <div class="mb-2">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                            {{ form.email(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control") }}
                        {% endif %}
                    </div>
                    <!--Password field-->
                    <div class="mb-2">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <!--confirm password field-->
                    <div class="mb-3">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-info text-light") }}
                    </div>
                    <div class="border-top mt-4">
                        <small class="text-muted">
                            Already have an Account?
                            <h6><a class="text-info" href="{{ url_for('login') }}">Sign In</a></h6>
                        </small>
                    </div>
                </form>
            </div>
            <div class="col-md-6 p-0">
                <img src="{{ url_for('static', filename='images/register.png') }}"  style="max-width: 100%;">
            </div>
        </div>
    </div>
{% endblock %}