{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <div class="row row-cols-1 w-20 row-cols-md-2 g-4 mt-4">
            <div class="col">
                <div class="card h-100">
                    <img src="{{ url_for('static', filename='images/' + request.teacher.image_profile) }}" class="card-img-top account-img" alt="User Profile Picture"  style="max-width: 90%;">
                    <div class="card-body">
                        <h2 class="text-info home-font">{{ request.teacher.username }}</h2>
                        <h5 class="card-text paragraphs text-secondary">{{ request.teacher.username }} is from {{ request.county }}.<br>
                            Teaching Subject: {{ request.subjects }}<br>
                            Current school: {{ request.school }}<br>
                            Going to {{ request.destination }}</h5>
                        <p class="border-top text-secondary">{{ request.purpose }}</p>
                        {% if request.teacher == current_user %}
                            <div class="d-grid gap-4 d-md-flex justify-content-md-end">
                                <a class="btn btn-info text-light" href="{{ url_for('update_request', request_id=request.id) }}">Update</a>
                                <button type="button" class="btn mr-3 btn-danger" data-bs-toggle="modal" data-bs-target="#deleteBackdrop">Delete</button>
                            </div>
                        {% endif %}
                    </div>
                    <div class="card-footer">
                        <small class="text-body-secondary">made on {{ request.request_made_on.strftime('%B, %d %Y') }}</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteBackdropLabel">Delete transfer request?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form method="POST" action="{{ url_for('delete_request', request_id=request.id) }}">
                            <input class="btn btn-danger btn-sm" type="submit" value="Delete">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}