{% extends "base.html" %}

{% block content %}

    <div class="container-md rounded mt-2 w-60">
        <div class="row">
            <div class="col-md-5">
                <form method="POST" action="" class="p-4 g-2 row">
                    {{  form.hidden_tag() }}
                    <h2 class="mb-2 text-info">Register</h2>
                    <!--Password field-->
                    <div class="mb-2">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                            {{ form.password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <!--confirm password field-->
                    <div class="mb-3">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-info text-light") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}